.env
/home/gemini3/.env
tactical_planner/src/tactical_planner/vector_db1/1bd94ec8-ffef-408b-821c-a327c3985200/data_level0.bin
/home/gemini3/tactical_planner/src/tactical_planner/vector_db1
/home/gemini3/tactical_planner/src/tactical_planner/vector_db2
/home/gemini3/tactical_planner/src/tactical_planner/vector_db3