gradio
crewai
crewai-tools
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-core
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
pydantic
numpy
fastapi
uvicorn
google-generativeai
